/**=====================*/
/*Entire HTML*/
/*======================*/

body, html {
  width: 100%;
  background: linear-gradient(to top, #032240, black);
  font-family: 'Poppins', serif;
  color: white;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: red;
}

.center {
  text-align: center;
}

/*==========================*/
 /*Nav Bar*/
 /*=========================*/

 .nav {
   padding: 0px 75px 0px 75px;
   text-align: right;
   color: red;
}

/*=========================*/
/*Body*/
/*=========================*/

.title {
  color: red;
  font-size: 100px;
  font-family: 'Lora', serif;
  text-shadow:  2px 2px #7F0916;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.title-background {
  background-color: black;
}

.sub-title {
  text-align: center;
  padding-top: -10px;
  margin-top: -10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

img {
min-width: 100%;
margin-top: -20px;
}

/*=======================*/
/*General Information*/
/*========================*/

.general-information {
  margin-top: -30px;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 50px
}

.fixed-center {
  width: 300px;
  margin:0 auto;
  text-align:left;
}

/*========================*/
/*Summary*/
/*==========================*/
.summary {
  width: 50%;
  text-align: center;
  margin: 0 auto;

}

/*=====================*/
/*Actors*/
/*=====================*/
.actors table, th, td {
  border: 2px solid navy;
  padding: 10px 15px;
}

.actors table {
background: linear-gradient(to left, #141E30 , #243B55);
}

.actors th {
  font-style: bold;
}

/*======================*/
/*Footer*/
/*=======================*/

.footer {
  padding: 0px 75px 20px 75px;
  text-align: right;
  color: red;
}
